<!doctype html>
<html>
<% include("../../common/common.html"){} %>
	<body>
	<% include("../../common/nav-head.html"){} %>

<title>解决方案-智能家居</title>
<!-- news start --> 
<div class="scroll-content">
  <p><img src="${base}/assets/biz-logic/images/solution-banner1.jpg"></p>   
  <% include("gd-left.html"){} %>
    <div class="gd_detail">
      <h1>智能家居</h1>      
      <div class="gd_main">
        <p>智能家居（英文：smart home, home automation）是以住宅为平台，利用综合布线技术、网络通信技术、 安全防范技术、自动控制技术、音视频技术将家居生活有关的设施集成，构建高效的住宅设施与家庭日程事务的管理系统，提升家居安全性、便利性、舒适性、艺术性，并实现环保节能的居住环境。</p>
        <h2>发展背景</h2>        
        <p>智能家居是在互联网影响之下物联化的体现。智能家居通过物联网技术将家中的各种设备（如音视频设备、照明系统、窗帘控制、空调控制、安防系统、数字影院系统、影音服务器、影柜系统、网络家电等）连接到一起，提供家电控制、照明控制、电话远程控制、室内外遥控、防盗报警、环境监测、暖通控制、红外转发以及可编程定时控制等多种功能和手段。与普通家居相比，智能家居不仅具有传统的居住功能，兼备建筑、网络通信、信息家电、设备自动化，提供全方位的信息交互功能，甚至为各种能源费用节约资金。</p>        
        <p>智能家居的概念起源很早，但一直未有具体的建筑案例出现，直到1984年美国联合科技公司（United Technologies Building System）将建筑设备信息化、整合化概念应用于美国康涅狄格州（Connecticut)哈特佛市（Hartford）的CityPlaceBuilding时，才出现了首栋的“智能型建筑”，从此揭开了全世界争相建造智能家居派的序幕。</p>
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-3.jpg" /></p>
        
        <h2>一、家庭自动化（Home Automation）</h2>        
        <p>家庭自动化系指利用微处理电子技术，来集成或控制家中的电子电器产品或系统，例如：照明灯、咖啡炉、电脑设备、保安系统、暖气及冷气系统、视讯及音响系统等。家庭自动化系统主要是以一个中央微处理机（Central Processor Unit，CPU）接收来自相关电子电器产品（外界环境因素的变化，如太阳初升或西落等所造成的光线变化等）的讯息后，再以既定的程序发送适当的信息给其它电子电器产品。中央微处理机必须透过许多界面来控制家中的电器产品，这些界面可以是键盘，也可以是触摸式荧幕、按钮、电脑、电话机、遥控器等；消费者可发送信号至中央微处理机，或接收来自中央微处理机的讯号。</p>
        <p>家庭自动化是智能家居的一个重要系统，在智能家居刚出现时，家庭自动化甚至就等同于智能家居，今天它仍是智能家居的核心之一，但随着网络技术有智能家居的普遍应用，网络家电/信息家电的成熟，家庭自动化的许多产品功能将融入到这些新产品中去，从而使单纯的家庭自动化产品在系统设计中越来越少，其核心地位也将被家庭网络/家庭信息系统所代替。它将作为家庭网络中的控制网络部份在智能家居中发挥作用。</p> 
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-1.jpg" /></p>
        <h2>二、家庭网络（Home networking）</h2>  
        <p>首先大家要把这个家庭网络和纯粹的“家庭局域网”分开来，我们在本书中还会提到“家庭局域网/家庭内部网络”这一名称，它是指连接家庭里的PC、各种外设及与因特网互联的网络系统，它只是家庭网络的一个组成部份。家庭网络是在家庭范围内(可扩展至邻居，小区)将PC、家电、安全系统、照明系统和广域网相连接的一种新技术。 当前在家庭网络所采用的连接技术可以分为“有线”和“无线”两大类。有线方案主要包括：双绞线或同轴电缆连接、电话线连接、电力线连接等；无线方案主要包括：红外线连接、无线电连接、基于RF技术的连接和基于PC的无线连接等。</p>
        <p>家庭网络相比起传统的办公网络来说，加入了很多家庭应用产品和系统，如家电设备、照明系统，因此相应技术标准也错综复杂，这里面也牵涉太多知名的网络厂家和家电厂家的利益，我们在智能家居技术一章中将对各种技术标准作详细介绍。家庭网络的发展趋势是将智能家居中其它系统融合进去，最终一统天下。</p>        
        <h2>三、网络家电</h2>    
        <p>网络家电是将普通家用电器利用数字技术、网络技术及智能控制技术设计改进的新型家电产品。网络家电可以实现互联组成一个家庭内部网络，同时这个家庭网络又可以与外部互联网相连接。可见，网络家电技术包括两个层面：首先就是家电之间的互连问题，也就是使不同家电之间能够互相识别，协同工作。第二个层面是解决家电网络与外部网络的通信，使家庭中的家电网络真正成为外部网络的延伸。</p>
        <p>要实现家电间互联和信息交换，就需要解决：1. 描述家电的工作特性的产品模型，使得数据的交换具有特定含义；2. 信息传输的网络媒介。在解决网络媒介这一难点中，可选择的方案有：电力线、无线射频、双绞线、同轴电缆、红外线、光纤。认为比较可行的网络家电包括网络冰箱、网络空调、网络洗衣机、网络热水器、网络微波炉、网络炊具等。网络家电未来的方向也是充分融合到家庭网络中去。</p>
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-2.jpg" /></p>
        
        <h2>四、信息家电（3C 或者说IA）</h2>            
        <p>信息家电应该是一种价格低廉、操作简便、 实用性强、带有PC主要功能的家电产品。利用电脑、电信和电子技术与传统家电（包括白色家电：电冰箱、洗衣机、微波炉等和黑色家电：电视机、录像机、音响、VCD、DVD等）相结合的创新产品， 是为数字化与网络技术更广泛地深入家庭生活而设计的新型家用电器，信息家电包括PC、机顶盒、HPC、DVD、超级VCD、无线数据通信设备、视频游戏设备、WEBTV、INTERNET电话等等，所有能够通过网络系统交互信息的家电产品，都可以称之为信息家电。音频、视频和通信设备是信息家电的主要组成部分。另一方面, 在传统家电的基础上，将信息技术融入传统的家电当中，使其功能更加强大，使用更加简单、方便和实用，为家庭生活创造更高品质的生活环境。比如模拟电视发展成数字电视，VCD变成DVD，电冰箱、洗衣机、微波炉等也将会变成数字化、网络化、智能化的信息家电。</p>
        <p>从广义的分类来看，信息家电产品实际上包含了网络家电产品，但如果从狭义的定义来界定，我们可以这样做一简单分类：信息家电更多的指带有嵌入式处理器的小型家用(个人用)信息设备，它的基本特征是与网络(主要指互联网)相连而有一些具体功能，可以是成套产品，也可以是一个辅助配件。而网络家电则指一个具有网络操作功能的家电类产品，这种家电可以理解是我们原来普通家电产品的升级。</p> 
        <p>信息家电由嵌入式处理器、相关支撑硬件（如显示卡、存储介质、IC卡或信用卡等读取设备）、嵌入式操作系统以及应用层的软件包组成。信息家电把PC的某些功能分解出来，设计成应用性更强、更家电化的产品，使普通居民步人信息时代的步伐更为快速，是具备高性能、低价格、易操作特点的lnternet工具。信息家电的出现将推动家庭网络市场的兴起，同时家庭网络市场的发展又反过来推动信息家电的普及和深人应用。</p>         
      </div>
      
    </div>
    <div class="clear"></div>     
  </div>
</div>

		<!-- footer start --> 
		<% include("../../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
