<!doctype html>
<html>
<% include("../../common/common.html"){} %>
	<body>
	<% include("../../common/nav-head.html"){} %>
<title>解决方案-智能微投影</title>
<!-- news start --> 
<div class="scroll-content">
  <p><img src="${base}/assets/biz-logic/images/solution-banner1.jpg"></p>   
  <% include("gd-left.html"){} %>
    <div class="gd_detail">
      <h1>智能微投影</h1>        
      <div class="gd_main">
        <p>DLP是“Digital Light Procession”的缩写，即为数字光处理，也就是说这种技术要先把影像信号经过数字处理，然后再把光投影出来。</p>              
        <p>DLP技术是一种独创的、采用光学半导体产生数字式多光源显示的解决方案。 它是可靠性极高的全数字显示技术，能在各类产品(如大屏幕数字电视、公司/家庭/专业会议投影机和数码相机(DLP Cinema))中提供最佳图像效果。同时，这一解决方案也是被全球众多电子企业所采用的完全成熟的独立技术。自1996年以来，已向75 家的制造商供货500多万套系统。</p>        
        <p>DLP技术已被广泛用于满足各种追求视觉.图像优异质量的需求。它还是市场上的多功能显示技术。它是唯一能够同时支持世界上最小的投影机（低于2-lbs）和最大的电影屏幕（高达75英尺）的显示技术。这一技术能够使图像达到极高的保真度，给出清晰、明亮、色彩逼真的画面。Digital Light Processing? 技术是一项全数字化的显示解决方案。它能够让企业、家庭娱乐和电影院的投影系统将影像和图形展现得淋漓尽致。DLP? 投影技术对光进行精密控制，以重复显示全数字化的图像。这些图像在任何光线中都明亮夺目，在任何分辨率下都清晰分明。</p>       
        
        <h2>工作原理</h2>        
        <p>这一技术的发展贯穿微电子工程学到最终实现最佳画质商品化的整个过程。</p>
        <h2>半导体技术改变了世界</h2>  
        <p>每一种DLP投影系统的核心是光学半导体，即数字显微镜装置或称为DLP芯片，这是德州仪器公司Larry Hornbeck博士于1987年发明的。DLP芯片可能是岂今为止是世界上最先进的光开关器件，含有200万个规则排列相互铰接的微型显微镜。每个显微镜的大小仅相当于头发丝的五分之一。当DLP芯片与数字视频或图像信号、光源和投影透镜彼此协调之后，显微镜可将全数字图像投射到屏幕或其他表面上。我们将DLP及其外设的先进电子器件称之为Digital Light Procession 技术 (数据光学处理).</p>       
        <h2>数字光学处理</h2>        
        <p>灰度图像DLP芯片的显微镜以微型链链固定，可沿DLP投影系统光源向前（ON）或向后（OFF）倾斜，在投影面上形成或亮或暗的像素.输入半导体器件的图像比特流代码控制显微镜的接通或关闭，开关次数每秒可达几千次。当显微镜频繁接通关闭时，镜片反射浅灰色像素；呈常闭状态的显微镜反射深灰像素。通过这种方法，DLP投影系统中的显微镜可反射1,024像素的灰色阴影，将输入DLP芯片的视频或图像信号转换成层次丰富的灰度图像。</p>
        <h2>数字光学处理</h2> 
        <p>添加色彩DLT投影系统照明灯产生的白光穿过色轮打到DLP？芯片平面上。色轮将光滤为红、绿、蓝。单片DLP投影系统利用经色轮过滤后的光至少可以生成1670万种颜色。</p>
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-4.jpg" /></p>
        <p>采用3片的DLP Cinema投影系统可生成的颜色不少于3500万种。每个显微镜的开关状态与三个基本色块相协调。例如，投身紫像素的显微镜只负责在投影面上反射红蓝光；人的肉眼可将这两种快速闪动的光混在一起，在投影的图像上看到混合后的颜色。</p>  
              
        <h2>应用与配置</h2>    
        <p>单片DLP投影系统<br/>
        采用DLP技术电视、家庭影院和商用投影仪主要为单个芯片配置，DLP芯片已在前面介绍过了。白光通过色轮过滤器产生红、绿、蓝光，顺序打到DMD的表面上。</p>
        <p>显微镜开关及"开"或"关"的投影时间，依照色彩亮度来调谐。人的视觉器官将连续投射的色彩混在一起，于是便可以看到全色图像。</p>
        <h2>片式DLP投影系统</h2> 
        <p>采用DLP技术的放映机适用于画面质量或亮度要求极高的场合，如电影院，或采用3-DMD-芯片配置系统显示动、静优质画面的大型会议厅。在3片式系统中，照明灯产生的白光通过棱镜分成红、绿、蓝三种光。每个DLP芯片负责其中一种颜色，显微镜反射的彩色光经过结合，穿过投影透镜形成图像。</p>
        <h2>技术优势</h2>
        <p>漂亮的画面</p>
        <h2>清晰度</h2>
        <p>DLP技术生成原始资料镜像的准确性方面优于其他显示系统。这也是采用DLP技术投影的图像总能保持水晶般清晰水平的原因。</p>
        <p>DLP技术的核心是由数以万计的镜片组成的数字显微镜系统，每块镜片之间的距离不到1微米，从而可以达到极高的占空因数。最大限度地缩小投影图像像素之间距离，可以生成无缝的数字化图片，在任何尺寸下都可以保持良好的锐度，不会出现其他技术造成的像素痕或"筛孔"。</p> 
        <h2>亮度</h2>
        <P>由于以镜片为基础，提高了光通效率，因此DLP投影系统比所有其他显示系统具有更强的亮度。<br/>采用所有其他技术时，光在传输过程中会受到一定损失，而DLP投影系统的显微镜却可以将照明灯光源的更大光量传输到屏幕上。</P>
        <P>二者之间存在着明显的差距。采用DLP技术，家用视频娱乐产品可产生足以令人陶醉的视觉享受。商务交流可演示清晰的图像，且无论是否有灯光照明。大型场所放映时，15,000流明的高亮度足以满足大量观众的观看要求。</P> 
        <h2>色彩</h2>
        <P>DLP技术的色彩范围的丰富性可还原350万亿种色素。<br/>
        在电视和家庭影院系统中，与所有其他技术相比，DLP投影技术可给出丰富的黑色层次和阴影效果。放映电影时，DLP Cinema™技术可还原350万亿种色素，超过影片的八倍。</P> 
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-5.jpg" /></p>
         
        <h2>精巧的产品规格</h2>
        <P>设计</P> 
        <P>DLP技术的核心是数字显微镜器件，其对光信号的调制速度比所有其他显示装置要快得多。这意味着DLP投影系统只需要一块面板，而所有其他技术则需要三块。</P> 
        <P>这样一来，投影子系统可以做得很小，重量也相应轻了许多，为创新设计留下充分的空间。产品设计师可以构思体积小、重量轻、更加时尚的产品。</P>
        <P>超薄大屏幕电视可以节省客厅占用空间。便携式投影仪的重量可以设计成两磅，亮度可供观看会议演示。</P>
       
        <h2>可靠性</h2>
        <P>DLP技术可以使放映机、家庭影院系统和电视的性能更加稳定可靠<br/>
        DLP技术的数字化特点是产品耐热、不受潮湿或振动等环境因素的影响，图像不会因设备长期使用而褪色。</P>
        <P>每次使用时，DLP投影系统都可以显示原汁源味的画面，无需调谐，维护量很少。自1996年以来，已向75 家的制造商供货500多万套系统，DLP&reg;技术的可靠性已为实践所证实。</P>
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-6.jpg" /></p>
        
        <h2>多功能</h2>
        <P>在家用、商务和娱乐方面，DLP投影技术可达到同样出色的视觉标准。<br/>
        创新与灵活性：凡需要的一个都不能少。</P>
        <P>DLP技术可在生活中的各种场合下，满足放映画面的视觉享受。DLP技术可供家庭观看出色画质的图像。DLP Cinema™技术可使影院放映的电影产生动人的效果。用于演示的投影仪也可以在客厅中放映图像，甚至可以放映PC游戏供儿童娱乐（如果他们喜欢的话）。</P>
        <P>采用DLP技术的全数字式电视和家庭影院系统可用来赏心悦目地看电视节目、欣赏网上大片、玩游戏软件、观看数字静止图片，真正实现一机多用的完美享受。</P>
        
        <h2>DLP技术的应用---DLP/DMD投影机工作原理</h2>
        <P>DLP投影机也称数据投影机，即数据光处理，其核心部件为DMD，即数据微镜装置，其它的部件还有氙灯泡、光学棱镜和镜头。</P>
        <P>其工作原理是：当光线经过棱镜分解成R、G、B三原色后，投射到DMD芯片，DMD芯片上由很多微小的镜片组成(如果分辨率是800×600，则DMD芯片上有48万个小镜片)，每个镜片均可在-10°与+10°之间自由旋转并且由电荷定位，信号输入经过处理后作用于DMD芯片，从而控制镜片的偏转，入射光线在经过DMD镜片的反射后到投影镜头投影成像。</P>
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-7.jpg" /></p>
        <P>DMD只有EPROM那么大，每一个微镜对应一个像素点，DLP投影机的物理分辨率就是由微镜的数目决定的。</P>
        <P>DLP投影机是一种继LCD后发展起来的投影显示技术，是一种全数字反射式投影技术。其特点是数字优势。数字技术的采用，使图像的灰度等级提高，图像噪声消失，画面质量稳定，数字图像非常精确。</P>
        <P>其次是反射优势，反射式DMD器件的应用，使成像器件的总光效大大提高，对比度、亮度、均匀度都非常出色。DLP投影机清晰度高、画面均匀、色彩锐利、三片机可达到很高的亮度，且可随意变焦，调整十分方便。在分辨率方面，部份机型可达到1280×1024。</P>
        <P>DLP投影机分为：单片DMD机，主要应用在便携投影产品；两片DMD机，主要应用于大型拼接显示墙；三片DMD机，主要应用于超高亮度投影机。</P>
        
        <h2>应用范围</h2>
        <P>DLP技术可广泛应用于投影和图像显示领域：商务投影机：用于销售和技术培训演示;<br/>
        家庭影院：在大屏幕上放映DVD影片、收看电视节目、玩游戏、欣赏数字照片;<br/>
        大型电视墙：公共机构监控中心使用的大型视频设备;<br/>
        商业活动和娱乐：音乐会、企业产品推介活动、颁奖典礼、大型公众活动;</P>                 
      </div>
      
    </div>
    <div class="clear"></div>     
  </div>
</div>

        <!-- footer start --> 
		<% include("../../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
