<!doctype html>
<html>
<title>解决方案-智能音箱</title>
<% include("../../common/common.html"){} %>
	<body>
	<% include("../../common/nav-head.html"){} %>

<!-- news start --> 
<div class="scroll-content">
  <p><img src="${base}/assets/biz-logic/images/solution-banner1.jpg"></p>   
  <div class="news-wap" style="background:#ffffff;">   
    <% include("gd-left.html"){} %>
    <div class="gd_detail">
      <h1>Hi-Fi智能音箱</h1>        
      <div class="gd_main">
        <p>Hi-Fi是英语High-Fidelity的缩写，直译为“高保真”，其定义是：与原来的声音高度相似的重放声音。</p>              
        <p>评价一个音响系统或设备是否符合高保真要求，一般应采用主观听音评价和客观指标测试相结合的方式来进行，并以客观测试指标为主要依据。因为采用仪器测试设备的性能指标，能得到很直观的可供参考比较的定量结果，无疑是最科学而值得信赖的。</p>        
        <p>听音评价时，应按照通用的评价术语对设备的音质进行综合评价。但主观听音评价方式难免带点主观随意性，有时容易受参评人员的听音素养、听音心理、习惯、爱好以及听音环境和方式等因素的影响而得出有争议的结果。这时则应以客观测试结果为主要评价依据。</p>
        <p>响界的专业人士借助于各类仪器，通过各种手段，检测出各种指标来决定器材Hi-Fi的程度，而音响发烧友则往往通过自己的耳朵去判断器材是否达到心目中的Hi-Fi。判别重放声音高保真程度的高低，不仅需要有性能优良的器材和软件，而且还要有良好的听音环境。因此，如何正确衡量音响器材的Hi-Fi程度，还存在着客观测试和主观评价的差别，但是有一点是可以肯定的，那就是忠实还原，真实地再现最纯正的音乐情感。</p>       
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-8.jpg" /></p>
        
        <h2>结构形式</h2>        
        <p>Hi-Fi音响系统从结构上可分为一体式、套装式及组合式。一体式的音响系统是将各种功能的器材和扬声器组装在一个机箱内，不可以随意拆开，此类机器一般为低档普及型机器。套装式音响系统是由生产商设计，将各种器材单搭配成套，各个单元之间可以拆开。音响组合则是根据个人的爱好选择各种型号的器材，进行自由组合。</p>
        <h2>组成</h2>  
        <p>音响系统主要由听觉系统（人的耳朵）、硬件系统（器材）、软件系统（信号源）及听音环境组成。</p>
        <p>音源是指将音源软件中的磁信号或数字信号转换为电信号的器材，它主要包括DVD、S-VCD、VCD、CD、调谐器、调音台、卡座及高保真录像机等。常用的AV音源以通用蓝光播放机为主，而HIFI音源依然是SACD播放机和CD播放机，不同档次的音源也会对音质产生影响。对转盘机音源而言，稳定、抗震动的机械模块、最短信号路径、数字滤波器与高品质部件都是发出优质音源的保证。</p>     
        <p>功率放大器主要是将音源器材输入的较微弱信号进行放大后产生足够大的电流去推动扬声器进行声音的重放。</p>       
        <p>音箱是一套音响器材的喉舌，音源软件最终的声音依靠音箱来表现，音响器材重放声的优劣完全靠音箱去表达，因此音箱在音响器材中有着举足轻重的作用。</p>  
        <p align="center"><img src="${base}/assets/biz-logic/images/lost-9.jpg" /></p>  
           
        <h2>技术指标</h2>    
        <p>音响系统主要技术指标有：频率响应、信噪比、动态范围、失真度、瞬态响应、立体声分离度、立体声平衡度。</p>
        <p>频率响应：音响设备重放时的频率范围以及信号幅度随频率的变化关系（幅频特性）。幅度的单位是dB，频率的单位是Hz。音响系统的频率响应至少达到32-18000Hz，在此频率范围内信号幅度变化应小于2dB。</p>     
        <p>信噪比：在同一参考点有用信号、与噪音的比值的对数。在音箱输入点信噪比70dB，人耳距音箱一米噪音几乎不可闻，Hi-Fi系统一般达到110dB以上。</p>       
        <p>动态范围：音响设备重放时最大不失真输出功率与静态时系统噪音输出功率之比的对数。Hi-Fi系统一般达到100dB以上。</p>  
        <p>失真度：音响设备重放时，音源信号的失真程度。有谐波失真、交调失真、瞬态失真。Hi-Fi系统谐波失真一般小于1%。</p>
        <p>立体声分离度：左右两声道的分离度。反映左右两声道的串扰程度。<br/>
        立体声平衡度：左右两声道的信号增益之差。<br/>
        瞬态（Transient）<br/>
        指乐曲（特别是打击乐）中那些短暂而有爆发性的声音，通常，这些声音是难于准确重放出来的。<br/>
        表示在两相邻稳定状态之间变化的物理量或物理现象，其变化时间小于所关注的时间尺度。</p>
        
        <P>购机时，信噪比、立体声分离度、立体声平衡度是人耳可以判别的，其他指标通过多系统比较作出对比，专家的指导很重要。</P>                     
      </div>
      
    </div>
    <div class="clear"></div>     
  </div>
</div>

        <!-- footer start --> 
		<% include("../../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
