<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>

<div class="scroll-content" style="background:#FFFFFF">
  <!-- 代码 strategy开始 -->
  <p><img src="${base}/assets/biz-logic/images/about.jpg" /></p>
  <p class="strategy-tem"><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span><span class="news-tem">集团介绍</span><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span></p>
  <div class="culture-warp">    
    <p>香港旗晟控股有限责任公司（简称“旗晟控股”），于2000年7月在香港成立，旗下拥有7家子公司，集团经营范围涉及高新电子科技设计、互联网及移动互联网软件硬件与应用开发；电子产品制造、供应链管理及相关业务、进出口贸易等多个领域；集团致力于物联网终端产品，智能家居产品及平台的设计、研发与制造，以及基于“互联网+”的智能音响、微投影等设备的设计、制造与内容整合；</p>
    <br/>
    <p>目前香港旗晟控股有限公司旗下在全国拥有重庆、惠州、东莞、深圳四地生产基地；在职员工超过2000多人，其中来自海内外顶尖研扬声器、无线技术等综合实力雄厚的研发队伍多达120人，占80%为10年以上研发与设计经验的高级工程师。稳步发展成为深圳电子科技技术研发、互联终端设备及云概念设备芯片研发等领域的领跑企业，与苹果、三星、HTC、小米、中兴等等国内外知名企业实现长期、稳定的合作关系。</p>
    <br/>
    <p>2006年，香港旗晟控股有限公司正式形成软硬件技术研发、生产、销售、服务于一体的闭环式行业产业链，并逐步形成“应市而行，以市为本，客户的要求就是旗晟的标准”的市场理念，提出“服务是旗晟最大的产品”的产品目标，倡导“无缺点生产，无条件服务，最大化保障消费者权益”。</p>
    <br/>
    <p>2011年，香港旗晟控股有限公司与Domigo（英国）独立设计实验室达成合作，历时三年，通力研发出具备划时代影响力的Domigo-A7系列智能云音响。时光荏苒，历久弥坚，生而至极，极致而生的旗晟人在奔腾不息的时代大潮中一路向前，用不老的青春和饱满的热情共同谱写出一篇篇华丽的乐章。</p>
    <br/>
    <p>集团自2012年起，连续4年相继投入人民币4000多万元，在高新技术，高素质人力资源，固定资产等多方面进行大量投入，相继在深圳与重庆设立研发中心、销售中心、供应链中心、跨境电子商务基地、生产中心等重要设施与分支机构，建立了包括技术研发、产品设计、供应链整合、制造生产、境内外线上及线下销售渠道在内的完整的产业链，并在物联网技术研发、高端智能音响、先进视听技术方面处于业内领先水平。</p>
    <br/>
    <p>2015年，根据市场形势和企业自身快速发展的需求，公司加快在消费类电子产品创新研发的技术，打造旗下物联网终端产品，智能家居产品及平台设计产业的战略建设。依托公司在高新科技技术研发与设计、互联网终端、视听产品芯片研发、智能音响、微投影等设备的设计、制造与内容整合优势，积极缔造影迷、Domigo自主品牌。</p>
    <br/>
  </div>  
  
  <h1><img src="${base}/assets/biz-logic/images/about-img.jpg" /></h1>
  <div class="vision">
    <h1>SUBSIDIARY COMPANY </h1>
    <h2>集团旗下子公司</h2>
  </div>
  <div class="about-warp">
    <div class="about-wd">
      <div class="left-img"><img src="${base}/assets/biz-logic/images/about-dtsm.jpg" /></div>
      <div class="left-title left-lf">
        <h1>香港大唐商贸有限公司</h1>
        <p>香港大唐商贸有限公司成立于2014年，是一家专业订制消费类电子的研发型技术公司，是一家专业的3C数码，影音家电供应商，我们凭着自己的实力在广大客户的支持下进入国际市场多年，并且已与国内外许多知名企业建立了长期的良好合作关系。主要经营：智能影音设备、通信设备、数字多媒体、通讯系统、仪器仪表、音频设备、视频显示、数据采集、网络通信、教育科研等领域，在便携式消费电子产品、高清数字电视应用、数字流媒体产品、游戏机、电力系统自动化产品、数字网络通讯、工业品级通讯用，高科技元器件等，我们更是你首选的供应商。 我们的优势是，货源直接、库存量大、质量保证、价格合理、交货快捷。同时提供各大生产厂家的技术服务。以学习进取、敢于创新、永续发展的经营方针，平和务实、诚实守信、勇于承当的优质服务，形成我们的专业优势以及行业地位。 </p>
        <p>我们的优势还体现在与国内许多行业的方案设计公司IDH有着广泛深入的合作，资源共享，优势互补，可以共同帮助客户在技术开发和行业应用两个层面得到提高。 </p>
        <p>香港大唐商贸有限公司位于中国香港湾仔轩尼寺道253-261号依时商业中心1502室。大唐商贸本着“客户第一，诚信至上”的原则，与多家企业建立了长期的合作关系。热诚欢迎各界朋友前来参观、考察、洽谈业务。</p>  
      </div>
    </div>
    
    <div class="about-wd left-tp" style="height:494px">      
      <div class="left-title">
        <h1>深圳智英电子有限公司</h1>
        <p>深圳智英电子有限公司成立于1997年，2005年智英电子加入香港旗晟控股有限公司，目前已和全球知名芯片商结成战略伙伴，包括Amlogic、Rockchip、MediaTek、Mstar,RealTek,Ongine、Asia Optical等。同年12月与深圳九洲信息科技有限公司(四川九洲电器集团有限公司的子公司）合资，总投资1.4亿人民币。十年多来，智英电子迈出了坚实的步伐，高效率地向客户提供高质的产品，深得客户青睐。在电子行业中迅速发展，并确立了自身的品牌形象。</p>
        <p>智英电子是EMS专业服务商，可以全方位地提供电子产品的加工服务。公司的愿景是：成为全球信赖的EMS供应商，引领公司和社会可持续发展。 产品目前已经在通讯、网络、家电等各行各业得到广泛应用，替代了进口产品，为中国产业实现自动化、智能化、信息化做出了突出的贡献。公司拥有大批先进的SMT 设备，自动插件设备和先进的组装生产线，SMT 日贴片能力可达1500万点，日自动插件能力可达800万件，日产卫星接收机，平板电脑，手机、音响等产品可达3万台，月产80万台。</p>
        <p>智英电子是国家高新技术企业、并顺应产业结构升级的发展趋势，符合国家绿色环保，节能减排的宏观政策要求。</p> 
        <p>智英电子的企业精神本着“以品质求生存，以管理求发展”，向“零缺点挑战”。并通过了SGS ISO9001（2008版）及QC080000（2012版）的认证。在规范的质量体系管理下,打开了通往国际市场的大门。并以优异的品质及良好的服务，赢得了客户的信任。与九洲集团、日本索尼、夏新科技、澳洲Bush、香港奥特姆、中国创维、CVT、Tesco、Walmart等公司都有良好合作。</p> 
        <p>智英电子以人为本、科学管理、以不断超越、挑战自我的创造精神，沿着科技化、产业化、集团化、国际化的道路为创建百年跨国企业而奋勇前进。</p> 
        <p>目前智英电子拥有二十多名技术精湛的研发团队，其中有来自中国电子、富士康等大公司精英。配备专业的无线配件产品研发团队及市场团队，开发空气净化消毒机、无线网络机顶盒、无线电视棒、无线微投影、无线音频盒等产品。</p>  
      </div>
      <div class="left-img left-lf left-tp"><img src="${base}/assets/biz-logic/images/about-zydz.jpg" /></div>
    </div>
    
    <div class="about-wd left-tp">
      <div class="left-img1"><img src="${base}/assets/biz-logic/images/about-yyyh.jpg" /></div>
      <div class="left-title left-lf" style="width:300px;">
        <h1>重庆市音乐一号科技有限公司</h1>
        <p>重庆音乐一号科技有限公司隶属于香港旗晟控股集团旗下子公司之一，音乐一号科技有限公司专注互联网时代的影音生态圈打造，公司业务涉及音乐平台、软件生态链、智能硬件的研发设计及销售。目前公司已经拥有两大音响品牌及一个智能微投品牌，在Hi-Fi音响、影音一体化音响、智能软件及智能微投四大领域取得了非常不错的成绩及口碑。 公司的高新技术及产业得到了深圳及重庆政府的大力支持，研发生产跨省经营产品远销海内外。公司致力于音乐1号的软件开发及无线HIFI音乐家庭智能解决方案提供商，Domigo智能云音响亚太地区总代理。</p>  
      </div>
      <div class="left-img1 left-lf"><img src="${base}/assets/biz-logic/images/about-tssy.jpg" /></div>
      <div class="left-title left-lf" style="width:220px;">
        <h1>重庆市唐晟实业有限公司</h1>
        <p>重庆市唐晟实业有限公司由专业的生产团队、专业的供应链团队及资深的移动互联网产品所组成，集电子产品、通讯产品、数码产品、智能硬件产品的零配件研发、生产‘加工为一体，为企业提供专业优质的供应链管理服务。</p>  
      </div>
    </div>
    
    <div class="about-wd left-tp" style="height:134px">
      <div class="left-img"><img src="${base}/assets/biz-logic/images/about-dgzn.jpg" /></div>
      <div class="left-title left-lf">
        <h1>重庆市德古智能科技有限公司</h1>
        <p>德古智能科技有限公司承接音乐一号科技有限公司的研发成果，专注品质生产，输出高品质的智能硬件产品。目前公司拥有9条生产线，并已经形成了集生产、测试、老化、包装、仓储、售后与一体的产业链。</p>  
      </div>
      <div class="clear"></div>
      
      <!-- <div class="left-img left-tp"><img src="${base}/assets/biz-logic/images/about-dgzn.jpg" /></div>      
      <div class="left-title left-tp left-lf">
        <h1>旗晟科技（辽宁）有限公司</h1>
        <p>旗晟科技(辽宁)有限公司,成立于2013年11月04日辽宁省沈阳市沈阳市沈北新区道义北大街228号,主经营项目有：互联网,移动互联网,物联网软件技术开发,设计,技术咨询,移动终端设备产品技术开发及销售,电子产品技术开发及销售,视听产品芯片研发及销售,计算机软硬件及网络设备技术开发及销售.等产品和服务。</p>  
      </div> -->
    </div>
    
    <div class="about-wd left-tp" style="border:none;">      
      <div class="left-title">
        <h1>东莞市鹏顺电子有限公司</h1>
        <p>顺鹏电子有限公司多年来致力于高品质开关、插座的生产和销售，专业生产拔动开关，（防水。放尘，带灯等）轻触开关，（有锁及无锁）按键开关，多功能五向开关，复位/叶片开关，振动开关，船形（跷板）开关，钮子（摇臂）开关，2.5/3.5耳机插座，AC/DC电源插座，USB接插件等产品广泛用于家用电器，汽车配件，数码相机，MP3/MP4播放器，音响功放及IT多媒体设备等其他行业领域。多年来，我们为了保证稳定，高品质的产品质量，公司引进了先进的全自动电脑数显检测仪器及检测设备来提高和控制产品质量，保证产品符合相应环保标准；通过了ISO9001质量管理体系认证，部份产品已获得ROHS.UL.CULUS.VDE.CSA.TUV.CE.NEMKO.CCC.CQC.ENEA.KEMA等安全认证。</p>
        <p>目前工厂生产的所有产品均符合欧盟的ROHS要求，优良的品质来自我们管理的创新；满意的服务源于品牌经营的理念。顺鹏电子将始终坚持以优质的产品质量为根本，满意的售后服务为中心。本着“高质，求实，创新，奉献”的企业精神为广大客户提供满意的产品和服务，竭诚欢迎您的光临与合作。</p>  
      </div>
      <div class="left-img left-lf"><img src="${base}/assets/biz-logic/images/about-pxdz.jpg" /></div>
    </div>
    
  </div>
  <!-- 代码 partner结束 -->
</div>

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
