<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>

<div class="scroll-content" style="background:#FFFFFF">
  <!-- 代码 strategy开始 -->
  <p><img src="${base}/assets/biz-logic/images/culture.jpg" /></p>
  <p class="strategy-tem"><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span><span class="news-tem">企业文化</span><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span></p>
  <div class="culture-warp">
    <h1>极致而生 生而极致</h1>
    <p>旗晟控股有限公司秉承“专注细节，追求极致”的态度，和“精诚合作，共享发展”的价值观，潜心打造互联网时代的智能生活体验。公司成立以来已经稳步发展为横跨英国伦敦、中国深圳、重庆、东莞，业务遍及欧盟、北美、亚太区域的集团企业，经营范围涵括电子信息、制造、供应链服务等行业。<br/>
    旗晟控股秉持“客户的要求就是旗晟的标准”的市场理念，提出“服务就是旗晟最重要的产品”的目标，提倡“无缺陷生产、无条件服务，最大化保障消费者权益”，旨在为用户打造全新的智能生活体验。</p>
    
    <h1>旗晟使命：</h1>
    <p>致力于成为多元化电子技术的研究与应用，提供超出客户期待的产品和服务，为人类创造智能新生活。</p>
    
    <h1>旗晟愿景：</h1>    
    <p>坚持卓越品质的产品理念，最优服务，永不息创新成为全球消费类电子产业新标竿！</p>
    
    <h1>旗晟宗旨：</h1>
    <p>品质——追求卓越品质<br/>服务——提供最优服务<br/>价值——创造超凡价值</p>
    
    <h1>旗晟十大理念: </h1>
    <p>
    （一）市场理念：应市而行，以市为本，客户的要求就是旗晟的标准。<br/>
    （二）产品理念：专注用户体验，做彻底的产品主义者。<br/>
    （三）第一理念：做人谦虚，做事执着；追求卓越，永争第一。<br/>
    （四）人才理念：人尽其才，明德惟馨，进步需学习，晋升靠业绩。<br/>
    （五）成功理念：制胜不凭体力靠智力，成功不靠奇迹靠轨迹。<br/>
    （六）创新理念：持续改进，创新永不息。<br/>
    （七）务实理念：艰苦奋斗，务实高效，管理简单化。<br/>
    （八）关爱理念：关爱员工，公平公正，倡导研习。<br/>
    （九）经营理念：专注品质，诚信经营，用心服务，持续增长，全球发展。<br/>
    （十）制造理念: 产品极致，过程精细，管理规范。
    </p>
    
    <h1>产品目标：</h1>
    <p>“倡导无缺点生产，最大化保障消费者权益。做最用心的产品，做最全面的服务”</p>
    
    <h1>核心价值观：</h1>
    <p>以人为本，公司利益大于一切！只有创造价值，企业才有发展，员工才有收获！一份耕耘，一份收获；同心同德，共创共赢。服务无止境，创新永不息。</p>
    
    <h1>团队精神：</h1>
    <p>诚信、自信、自律、自觉、自强不息；勤思巧干苦攀，风逆我自昂扬。</p>
    <br/>
  </div>
  <!-- 代码 partner结束 -->
</div>

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
