<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>

<div class="scroll-content" style="background:#FFFFFF">
  <p><img src="${base}/assets/biz-logic/images/history.jpg" /></p>
  <div class="vision">
    <h1>COMPANY HISTORY</h1>    
    <h2>企业历程</h2>
    <div class="history">
      <ul>
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>1997年 —— 起源与一个设想</p>
            <p class="story-p">蔡晓航，一个热爱技术和电子产品的青年,为了在这个无线、数字的时代开创更多新奇有趣产品设想创办为人类生活更加方便，更加娱乐的一家电子公司。</p>
          </span>
        </li>
        
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2005年 —— 智英电子加入香港旗晟控股有限公司</p>
            <p class="story-p">深圳智英电子有限公司是一家EMS专业服务商，可以全方位地提供电子产品的加工服务。公司注册资金达到1009万元人民币。</p>            
          </span>
        </li>
        
        <li style="height:70px">
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2006年 —— 形成完整产业链</p>
            <p class="story-p">香港旗晟控股有限公司正式形成软硬件技术研发、生产、销售、服务于一体的闭环式行业产业链。</p>
          </span>
        </li>
        
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2008年 —— 成立第一家子公司</p>
            <p class="story-p">东莞鹏顺电子科技有限公司成立于2008年10月29日广东东莞市，也是香港旗晟控股责任有限公司第一家子公司。主营各种手机电池、音响电池、航模电池、电动车电池等。</p>
          </span>
        </li>
        
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2009年 —— 微投立项</p>
            <p class="story-p">吸收精湛的研发团队与市场团队加入旗晟控股，基于已有技术条件启动微型投影项目，以快节奏完成产品的研发生产及产品面市</p>
          </span>
        </li>
        
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2011年 —— 影音项目启动</p>
            <p class="story-p">重庆市音乐一号科技有限公司及德古智能科技有限公司，专注打造专注互联网时代的影音生态圈</p>
            <p class="story-p">同年立项以“智能时代的Hi-Fi与影音生活”为研究方向的智能影音项目</p>
          </span>
        </li>
        
        <li style="height:70px">
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2012年 —— 引进世界顶尖技术</p>
            <p class="story-p">引进世界殿堂级电声专家、丹麦著名扬声器设计师——Peter Larsen先生及其团队的扬声器技术一同开发影音设备。</p>
          </span>
        </li>
        
        <li style="height:70px">
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2013年 —— 设立子公司开拓市场</p>
            <p class="story-p">先后设立了香港大唐商贸有限公司与深圳市唐旗供应链有限公司为日后品牌开拓市场做充足的准备。</p>
          </span>
        </li>
        <li>
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2014年 —— 布局品牌路线</p>
            <p class="story-p">07月同时设立子公司重庆市德古智能科技有限公司、重庆市唐晟实业有限公司、重庆市音乐一号科技有限公司成立DOMIGO、影迷品牌打响沉淀多年的技术第一枪。</p>
          </span>
        </li>
        <li style="height:70px">
          <span class="story-lf"><img src="${base}/assets/biz-logic/images/yuan.png" /></span>
          <span>
            <p>2015年—— 核心产品发布上市</p>
            <p class="story-p">经历四年多海内外、沿海内地的通力研发，企业旗下品牌产品Domigo X3\A7\A9陆续发布上市</p>
          </span>
        </li>  
      </ul> 
    </div>   
  </div>
</div>

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
