<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>

<!-- 代码 在线留言 -->
<div class="scroll-content">
  <p><img src="${base}/assets/biz-logic/images/honours.jpg" /></p>
  <div class="l-about-txt">
    <h1>著作权</h1>
    <div class="info">旗晟拥有多项计算机软件著作权登记书，包括：ECP系统著作权、ECSNS著作权、电商平台系统著作权等 </div>
    <div class="ladyScroll">
      <a class="prev" href="javascript:void(0)"></a>
      <div class="scrollWrap">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:1146px">
          <ul class="dlList" style="width: 4011px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -191px;">
            <li class="clone">
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z1.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECP系统</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z2.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECR系统</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z3.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">电商管理平台ECT</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z4.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECSMS系统</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z5.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECO系统</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z6.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECO软件系统</p></div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img">
                  <div class="wrap"><img width="113" height="156" src="${base}/assets/biz-logic/images/z7.jpg"><div class="img-mask"><i></i></div></div>
                </div>
                <div class="txt"><p class="txt1">ECA系统</p></div>
              </a>
            </li>
             
          </ul>
        </div>
      </div>
      <a class="next" href="javascript:void(0)"></a>
    </div>
    <div class="l-about-line"></div>
  </div>
  
 <!--  荣誉证书 -->
 <div class="row book">   
   <h1>荣誉证书</h1>
   <div class="info">旗晟拥有几十项专利、商标、版权等自主知识产权，同时荣获国家高新技术企业，深圳市双软双优企业等称号 </div>  
   <div class="bd">
     <ul>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu30_replace.jpg"></div>
           <div class="txt"><p>"软件产业奥斯卡"双项大奖</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu1_replace.jpg"></div>
           <div class="txt"><p>国家高新技术企业</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu2_replace.jpg"></div>
           <div class="txt"><p>深圳市软件行业协会常务理事单位</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu7_replac.jpg"></div>
           <div class="txt"><p>中国国际高新技术成果交易会</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu8_replace.jpg"></div>
           <div class="txt"><p>互联网+创新竞争力信用企业</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu4_replace.jpg"></div>
           <div class="txt"><p>深圳市电子商务行业协会理事单位</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu5_replace.jpg"></div>
           <div class="txt"><p>IEBE极具价值电商服务机构</p></div>
         </a>
       </li>
       <li>
         <a href="javascript:void(0);">
           <div class="img"><img src="${base}/assets/biz-logic/images/tu32_replace.jpg"></div>
           <div class="txt"><p>深圳市互联网技术应用协会成员</p></div>
         </a>
       </li>
     </ul>
   </div>
 </div>
</div>
<!-- 代码 在线留言结束 -->

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 

<script src="${base}/assets/biz-logic/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    jQuery(".ladyScroll").slide({mainCell:".dlList", effect:"leftLoop",vis:6});
</script>
</body>
</html>
