<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>
<div class="scroll-content" style="background:#FFFFFF">
  <p><img src="${base}/assets/biz-logic/images/legalnotice.jpg" /></p>
  <div class="vision">
    <h1>LEGAL NOTICE</h1>    
    <h2>法律声明</h2>   
  </div>
  
  <div class="culture-warp">
    <h1></h1>
    <p>香港旗晟控股有限责任公司 [简称"旗晟"(QSUN)]就后述的声明旨在提醒各位浏览者，凡未经授权而使用本网站上所揭露之任何资料的行为，将有可能抵触著作权法、商标权法、隐私权规定及通讯相关法令。</p>
    
    <h1>著作权</h1>
    <p>本网站上所揭露的任何资料及文件﹝以下简称资料﹞系由旗晟(QSUN)或其它原创者所提供。根据您与旗晟(QSUN)签订的书面约定，旗晟(QSUN)同意授权您在本网站上使用、下载、拷贝、传输资料或相关图形档；如果您尚未与旗晟(QSUN)签订任何授权约定，您的使用将限定于纯为个人使用、且非营利上使用之目的而使用本网站上的资料或相关图形档﹝经特别注明保留著作权及专属财产权者﹞；然而，除非您另外获得旗晟(QSUN)特定的允许，否则您并不被允许重制、播映、传输资料或相关图形档、或为其它商业目的之使用。</p>
    
    <h1>使用者的反应</h1>    
    <p>任何由您传送或发表于本网站上的资料、文件及想法，将被视为不具保密性且非专属性财产并依隐私权声明之相关原则处理。您被禁止从本网站传送或发表、及传送或发表至本网站任何非法、恐吓性、侮辱性、毁谤性、猥亵性、色情或亵渎性文件。旗晟(QSUN)并没有义务监督使用者发表在本网站上的反应，而且旗晟(QSUN)拒绝承担因用户传达的文字内容所产生之相关责任。</p>
    
    <h1>商标</h1>
    <p>于本网站上所展示的商标、标志图样及服务商标 (统称为"商标")，包括但不限于下列表中所列的属于旗晟(QSUN)的在中国地区及其它国家之商标或已注册商标。其它品牌或产品名称所对应的商标或已注册商标则属于其它公司所有。在未经旗晟(QSUN)同意下，不得任意解释为旗晟(QSUN)有任何暗示同意授权或使用本网站所有的属于旗晟(QSUN)或第三人的商标。如果您违反本使用条款，对本网站商标或其他内容进行了不当使用，旗晟公司将在法律许可的最大范围内积极保护其知识产权，包括诉诸刑事法律。</p>
    
    <h1>软件资讯</h1>
    <p>任何由您透过本网站下载得到的软体，应依该软体提供或所附的授权书相关规定使用。除非您事先阅读并接受准据的软体授权书，否则您可能不被允许下载或安装该软体。部分包裹于系统内的软体，可能与零售商持有的版本不同，并且可能不包括操作手册或所有功能性程序。</p>
    
    <h1>免责声明</h1>
    <p>旗晟(QSUN)不对任何在本网站上为任何目的所揭露的资讯的精确度或合适性作声明。这类资讯系以「以目前明示的条件下」提供，而且旗晟(QSUN)于此主张免除一切保证、明示或默示或法定的、包括但不限于有关于一般商品使用特性、合于特定使用目的性或不侵害智能财产权的明示或默示保证责任。旗晟(QSUN)在此保留对任何揭露于本网站上的产品及﹝或﹞程序，不另告知而作修正的权利。由于部分准据法可能不允许默示保证责任的排除适用，所以前述的排除条款未必当然适用于您身上。</p>
    
    <h1>责任范围</h1>
    <p>旗晟(QSUN)或其供应商对于任何直接、特别、间接、偶发或衍生之损害，或其它类似可能的，包括关于使用或履行本网站或任何连结网站、或因任何揭露在本网站或任何连结网站的文件资料等，不论依契约的关系或侵权行为关系，甚至旗晟(QSUN)已被事先提示这类损害发生的可能性所产生之利益或档案的损失不予负责。由于部分准据法可能不允许责任的全部免除或对前述损失的责任限制，所以前述的限制及排除条款未必当然适用于您身上。</p>
    
    <h1>连结到其它网站</h1>
    <p>任何得以透过本网站连结到第三人网站的指示功能，仅为提供浏览者的便利而设。当您使用此类连结时，会使您离开旗晟(QSUN)的网站。旗晟(QSUN)既不会审查或控制第三人的网站，亦不会为第三人的网页背书、或为任何声明。一旦您决定接近与本网站连结的第三人网站，您应自行承担一切风险。</p>   
    <br/>
    <p>* 旗晟(QSUN)保留随时修改本项声明的权利。上述的声明将不另告知即作修正。<br/>* QSUN旗晟公司法律部门于2016年6月30日更新内容。</p>
    <br/>
    <br/>
  </div>
  
</div>

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
