<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>
<div class="scroll-content" style="background:#FFFFFF">
  <!-- 代码 strategy开始 -->
  <p><img src="${base}/assets/biz-logic/images/partner.jpg" /></p>
  <div class="content">    
    <p class="strategy-tem"><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span><span class="news-tem">战略合作伙伴</span><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span></p>
    <div class="strategy">      
      <div class="strategy-web">
        <h1>STRATEGIC <br/>COOPERATION </h1>
        <h2>COMPANY</h2>
      </div>    
      <div class="strategy-wad">
        <div class="strategy-pany">
          <h1>英国DOMIGO工作室</h1>
          <p>Domigo Acoustics Int’l (UK) Company Limited，旗晟控股旗下品牌Domigo于英国伦敦的前身，一个专注用最自然的材料—木打造最接近自然的声音的扬声器工作室。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 代码 strategy结束 -->

  <!-- 代码 strategy开始 -->
  <div class="content">
    <div class="strategy-back">
      <div class="strategy-nowr">
        <h1>STRATEGIC <br/>COOPERATION </h1>
        <h2>COMPANY</h2>
      </div>    
      <div class="strategy-wad">
        <div class="strategy-pany" style=" background:#FF8E36;">
          <h1>丹麦perter的工作室</h1>
          <p>Domigo Acoustics Int’l (UK) Company Limited，旗晟控股旗下品牌Domigo于英国伦敦的前身，一个专注用最自然的材料—木打造最接近自然的声音的扬声器工作室。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 代码 strategy结束 -->

  <!-- 代码 partner开始 -->
  <div class="partner">
    <div class="partner-beg">
      <div class="partner-now">
        <h1>合作伙伴</h1>
        <ul>
          <li><img src="${base}/assets/biz-logic/images/microsoft.png" /></li>
          <li><img src="${base}/assets/biz-logic/images/huawei.png" /></li>
          <li><img src="${base}/assets/biz-logic/images/xluzi.png" /></li>
          <li><img src="${base}/assets/biz-logic/images/skt.png" /></li>
          <li><a href="http://www.domigo.com" target="_blank"><img src="${base}/assets/biz-logic/images/domigo.png" /></a></li>
          <li><a href="http://www.song-1.com" target="_blank"><img src="${base}/assets/biz-logic/images/song-2.png" /></a></li>
          <li><img src="${base}/assets/biz-logic/images/slay.png" ></li>
          <li><a href="http://www.aquaaudio.dk" target="_blank"><img src="${base}/assets/biz-logic/images/mry.png" /></a></li>
        </ul>
      </div>
      <div class="clear"></div>
    
      <div class="partner-now" style="margin-top:35px;">
        <h1>合作媒体</h1>
        <ul>
          <li class="font-sz">手机中国</li>
          <li class="font-sz">今日头条</li>
          <li class="font-sz">PCHOME</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 代码 partner结束 -->
</div>
<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
</body>
</html>
