<!doctype html>
<html>
<% include("../common/common.html"){} %>
	<body>
	<% include("../common/nav-head.html"){} %>

<div class="scroll-content" style="background:#FFFFFF">  
  <p><img src="${base}/assets/biz-logic/images/solution.jpg" /></p>
  <!-- 代码 前沿技术研发开始 -->
  <p class="strategy-tem"><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span><span class="news-tem">前沿技术研发</span><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span></p> 
  <div id="environmentScroll"  class="environment content scroller">
    <div class="pros environment-picture">
      <ul class="pros-ul sliderInner">
        <li class="item">
          <a title="智能微投影" href="${base}/solution/touying">
            <img width="376" height="210" alt="智能微投影" src="${base}/assets/biz-logic/images/solution_1.jpg">
            <img class="img-color" width="376" height="210" alt="智能微投影" src="${base}/assets/biz-logic/images/solution_1-1.jpg">
          </a>
        </li>             
        <li class="item">
          <a title="智能音箱" href="${base}/solution/yinxiang">
            <img width="376" height="210" alt="智能音箱" src="${base}/assets/biz-logic/images/solution_2.jpg">
            <img class="img-color" width="376" height="210" alt="智能音箱" src="${base}/assets/biz-logic/images/solution_2-1.jpg">
          </a>
        </li>
        <li class="item">
          <a title="智能能家居" href="${base}/solution/jiaju">
            <img width="376" height="210" alt="智能能家居" src="${base}/assets/biz-logic/images/solution_3.jpg">
            <img class="img-color" width="376" height="210" alt="智能能家居" src="${base}/assets/biz-logic/images/solution_3-1.jpg">
          </a>
        </li>
      </ul>
    </div>

    <div class="scrollNav-circle">
      <div class="scrollNav-circle-bg">
        <div class="scrollNav-circle-prevNext">
          <a class="scrollNav-prev" title="prev" href="javascript:void(0);"></a>
          <a class="scrollNav-next" title="next" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- 代码 前沿技术研发结束 -->
  
  <!-- 代码 终端服务开始 -->  
  <p class="strategy-tem"><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span><span class="news-tem">终端服务</span><span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span></p> 
  <div id="environmentScroll"  class="environment content scroller">
    <div class="pros environment-picture">
      <ul class="pros-ul sliderInner">
        <li class="item">
          <a title="移动终端" href="javascript:void(0);">
            <img width="376" height="210" alt="移动终端" src="${base}/assets/biz-logic/images/solution_4.jpg">
            <img class="img-color" width="376" height="210" alt="移动终端" src="${base}/assets/biz-logic/images/solution_4-1.jpg">
          </a>
        </li>             
        <li class="item">
          <a title="音乐云端" href="javascript:void(0);">
            <img width="376" height="210" alt="音乐云端" src="${base}/assets/biz-logic/images/solution_5.jpg">
            <img class="img-color" width="376" height="210" alt="音乐云端" src="${base}/assets/biz-logic/images/solution_5-1.jpg">
          </a>
        </li>
        <li class="item">
          <a title="在线音乐服务" href="javascript:void(0);">
            <img width="376" height="210" alt="在线音乐服务" src="${base}/assets/biz-logic/images/solution_6.jpg">
            <img class="img-color" width="376" height="210" alt="在线音乐服务" src="${base}/assets/biz-logic/images/solution_6-1.jpg">
          </a>
        </li>
        
        <li class="item">
          <a title="Hi-Fi云音响系统" href="javascript:void(0);">
            <img width="376" height="210" alt="Hi-Fi云音响系统" src="${base}/assets/biz-logic/images/solution_10.jpg">
            <img class="img-color" width="376" height="210" alt="Hi-Fi云音响系统" src="${base}/assets/biz-logic/images/solution_10-1.jpg">
          </a>
        </li>             
       
      </ul>
    </div>

    <div class="scrollNav-circle">
      <div class="scrollNav-circle-bg">
        <div class="scrollNav-circle-prevNext">
          <a class="scrollNav-prev" title="prev" href="javascript:void(0);"></a>
          <a class="scrollNav-next" title="next" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- 代码 终端服务结束 -->
  
  <!-- 代码 供应链服务开始 -->  
  <p class="strategy-tem">
	  <span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span>
	  <span class="news-tem">供应链服务</span>
	  <span><img src="${base}/assets/biz-logic/images/news-ft.jpg"></span>
  </p> 
  <div id="environmentScroll"  class="environment content scroller">
    <div class="pros environment-picture">
      <ul class="pros-ul sliderInner">
        <li class="item">
          <a title="设计生产制造" href="javascript:void(0);">
            <img width="376" height="210" alt="设计生产制造" src="${base}/assets/biz-logic/images/solution_7.jpg">
            <img class="img-color" width="376" height="210" alt="设计生产制造" src="${base}/assets/biz-logic/images/solution_7-1.jpg">
          </a>
        </li>             
        <li class="item">
          <a title="进出口服务" href="javascript:void(0);">
            <img width="376" height="210" alt="进出口服务" src="${base}/assets/biz-logic/images/solution_8.jpg">
            <img class="img-color" width="376" height="210" alt="进出口服务" src="${base}/assets/biz-logic/images/solution_8-1.jpg">
          </a>
        </li>
        <li class="item">
          <a title="DNS服务" href="javascript:void(0);">
            <img width="376" height="210" alt="DNS服务" src="${base}/assets/biz-logic/images/solution_9.jpg">
            <img class="img-color" width="376" height="210" alt="DNS服务" src="${base}/assets/biz-logic/images/solution_9-1.jpg">
          </a>
        </li>
        
        <li class="item">
          <a title="供应链整合服务" href="javascript:void(0);">
            <img width="376" height="210" alt="供应链整合服务" src="${base}/assets/biz-logic/images/solution_11.jpg">
            <img class="img-color" width="376" height="210" alt="供应链整合服务" src="${base}/assets/biz-logic/images/solution_11-1.jpg">
          </a>
        </li>             
        
      </ul>
    </div>

    <div class="scrollNav-circle">
      <div class="scrollNav-circle-bg">
        <div class="scrollNav-circle-prevNext">
          <a class="scrollNav-prev" title="prev" href="javascript:void(0);"></a>
          <a class="scrollNav-next" title="next" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <!-- 代码 供应链服务结束 -->  
  
</div>

<!-- footer start --> 
		<% include("../common/footer.html"){} %>
		<!-- footer end --> 
<script src="${base}/assets/biz-logic/js/public-1.js"></script>
<script>
$(function () {
  /*---S 产品滚动 */ 
  $('.scroller').hSlider({
    slideSpeed:300,
    autoSlide:false,
    visibleItem: 3,
    prevBtn:'.scrollNav-prev',
    nextBtn:'.scrollNav-next'
  });
  /*---E 产品滚动---*/

  //选项卡
  $('.taber').taber();

  //图文滚动展示
  (function(){
    var j_imgViewer = $('#j_caseViewer');
    j_imgViewer.imgViewer({
      slideSpeed: 300, //切换速度
      visiblesmallImgLiLen: 6,
      prevBtn: '.scrollNav-prev',
      nextBtn: '.scrollNav-next'
    });
  }());

});
</script>
<body>
</body>
</html>
